<app-header></app-header>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>{{ title }}</h1>
      <div class="selection">
        <select
          name="dropdownlist"
          id="dropdownlistId"
          #selectChart
          (change)="hideShowBarOrLineChart(selectChart.value)"
        >
          <option value="score">Score Chart</option>
          <option value="line">Line Chart</option>
          <option value="bar">Bar Chart</option>
        </select>
      </div>
    </div>
    <div class="card-body">
      <score-chart [hidden]="isHiddenScore"></score-chart>
      <bar-chart [hidden]="isHiddenBar"></bar-chart>
      <line-chart [hidden]="isHiddenLine"></line-chart>
    </div>
  </div>
</div>
