<div class="chart-container">
  <div class="header-container">
    <label class="score-base-label"> Score based </label>
    <select class="pull-right" name="dropdownlist" id="dropdownlistId">
      <option class="dropdown" value="Select">Select</option>
      <option value="value 1">Value 1</option>
      <option value="varue 2">Value 2</option>
    </select>
  </div>
  <hr />
  <div>
    <span class="style-1">{{ leftData1 }}</span>
    <span class="style-2">{{ leftData2 }}</span>
    <span class="style-3">{{ leftData3 }}</span>
    <span class="style-4">{{ leftData4 }}</span>
    <span class="style-5">{{ rightData1 }}</span>
    <span class="style-6">{{ rightData2 }}</span>
    <span class="style-7">{{ rightData3 }}</span>
    <span class="style-8">{{ rightData4 }}</span>
    <span class="style-9">{{ rightData5 }}</span>
    <div class="ractangle">
      <span class="style-10">{{ calculated }}</span>
    </div>
    <img src="../../assets/Image 4.jpg" alt="Image 4" />
  </div>
</div>
