<div class="chart-container">
  <div class="header-container">
    <label class="score-base-label"> Score based </label>
    <select
      class="pull-right"
      name="dropdownlist"
      id="dropdownlistId"
      #selectChart
      (change)="VisibleChart(selectChart.value)"
    >
      <option class="dropdown" value="">Select</option>
      <option value="line">Line Chart</option>
      <option value="bar">Bar Chart</option>
      <option value="score">Score Chart</option>
    </select>
  </div>
  <hr />
  <div [hidden]="isHiddenScore">
    <span class="style-1">{{ leftData1 }}</span>
    <span class="style-2">{{ leftData2 }}</span>
    <span class="style-3">{{ leftData3 }}</span>
    <span class="style-4">{{ leftData4 }}</span>
    <span class="style-5">{{ rightData1 }}</span>
    <span class="style-6">{{ rightData2 }}</span>
    <span class="style-7">{{ rightData3 }}</span>
    <span class="style-8">{{ rightData4 }}</span>
    <span class="style-9">{{ rightData5 }}</span>
    <div class="ractangle">
      <span class="style-10">{{ calculated }}</span>
    </div>
    <img src="../../assets/Image 4.jpg" alt="Image 4" />
  </div>
</div>
