<div class="chart-container">
  <div class="header-container">
    <label class="score-base-label"> Score based </label>
    <select class="pull-right" name="dropdownlist" id="dropdownlistId">
      <option class="dropdown" value="Select">Select</option>
      <option value="value 1">Value 1</option>
      <option value="varue 2">Value 2</option>
    </select>
  </div>
  <hr />
  <div>
    <span class="style-1">Intelligence-60</span>
    <span class="style-2">Energy-50</span>
    <span class="style-3">Curiosity-70</span>
    <span class="style-4">Confidence-80</span>
    <span class="style-5">Score-55</span>
    <span class="style-6">Score-30</span>
    <span class="style-7">Score-90</span>
    <span class="style-8">Score-80</span>
    <span class="style-9">Score-45</span>
    <div class="ractangle">
      <span class="style-10">Score-60% tile-77</span>
    </div>
    <img src="../../assets/Image 4.jpg" alt="this was image" />
  </div>
</div>
