/* You can add global styles to this file, and also import other style files */

body
    background: #F1F3F6
    font-family: 'Inter'

.chart-center-css
    width: 90%
    margin: auto

.chart-container
    margin: 2% auto
    width: 80%
    background: #FFFFFE
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1)
    border-radius: 8px